@import "partials/theme";

.cont {
  padding-top: map-get($map: $spacing, $key: 20);
  padding-bottom: map-get($map: $spacing, $key: 20);

  p{
    padding-bottom: map-get($map: $spacing, $key: 8);
    line-height: 24px;
  }
}

.h1 {
  color: map-get($map: $primary, $key: normal);
  margin: map-get($map: $spacing, $key: 10) 0;
}

.h3 {
  font-size: map-get($map: $font, $key: 18);
  color: map-get($map: $primary, $key: normal);
  margin: map-get($map: $spacing, $key: 10) 0;
}

.ul{
  padding: 0 10px 0 30px;

  li{
    padding-bottom: map-get($map: $spacing, $key: 8);
    line-height: 24px;
  }
}
