@import "../../../assets/scss/partials/theme";

.cont {
  margin-top: $spacing;
  margin-bottom: $spacing;
  font-size: 0;
}

.loading {
  margin-bottom: $spacing;

  .spacer {
    width: 20px;
    display: inline-block;
  }
}
